body, table, td, tr {
  font-family: Roboto, sans-serif;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

table.songs-table {
  width: 80%;
  border: 1px solid gray;
  border-collapse: collapse;
  margin: auto;
}

th.songs-table-header {
  border: 1px solid grey;
}

th.author, td.author {
  width: 20%;
}

th.title, td.title {
  width: 80%;
}

td.songs-table-cell {
  border: 1px solid grey;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: blue;
}

h2 {
  text-align: center;
}

#songcanvas {
  margin: auto;
  margin-top: 1rem;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px gray;
}

div.songcanvas {
  width: 100vb;
  margin: auto;
  margin-bottom: 3rem;
}

/* Lyrics HTML view */

div.lyrics-container {
  width: 80%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 10px 10px 10px gray;
}

div.lyrics-line {
  margin-top: 0.75rem;
  font-family: Roboto;
  font-size: 1rem;
}

div.chords-line {
  position: relative;
  height: 1rem;
  width: 100%;
  top: -2.5rem;
}

div.chord {
  position: absolute;
  top: 0rem;
  color: red;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
  padding-left: 3px;
  padding-right: 3px;
  box-sizing: border-box;
  cursor: pointer;
}