body, table, td, tr {
  font-family: Roboto, sans-serif;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

table.songs-table {
  width: 80%;
  border: 1px solid gray;
  border-collapse: collapse;
  margin: auto;
}

th.songs-table-header {
  border: 1px solid grey;
}

th.author, td.author {
  width: 20%;
}

th.title, td.title {
  width: 80%;
}

td.songs-table-cell {
  border: 1px solid grey;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: blue;
}

h2 {
  text-align: center;
}

#songcanvas {
  margin: auto;
  margin-top: 3rem;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px gray;
}

div.songcanvas {
  width: 100vb;
  margin: auto;
  margin-bottom: 3rem;
}